.card{
    width: 15vw;
    padding: 1em;
    margin-left: 10%;
    border-radius: 10px;
    background: #ffffff;
    position: relative;
    z-index: 100;
    box-shadow: 1px 5px 3px rgba(0,0,0,0.5);
}
.card-top, .card-bottom{
    display: flex;
    justify-content: space-between;
}
.chip{
    height: 5vh;
    transform: rotate(90deg);
}
.wifi{
    height: 5vh;
}
.name{
    margin-top: 20%;
}
.numbers{
    display: flex;
}
.logo-info{
    display: flex;
    flex-direction: column;
}
.mastercard-logo{
    height: 4vh;
}
